.profile-button {
    font-size: 16px;
    line-height: 68px;
    border: none;
    background-color: #F4F1EA;
    color: #382110;
    width: 65px;
    margin-right: 60px;
}

.profile-button:hover {
    background-color: #382110;
}

/* .profile-button:focus {
    background-color: #382110;
}

.profile-button:visited {
    background-color: #F4F1EA;
} */

.prof-icon {
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 15px;
    background-color: #F4F1EA;
}

.hello {
    background-color: #F4F1EA;
    width: 100%;
    font-size: 14px;
    padding-bottom: 4px;
    text-align: center;
    border-bottom: 1px solid #cccbcb;
    padding-top: 4px;
}

.hello:hover,
.logout-button:hover {
    background-color: #cccbcb;
}

.logout-button {
    border: none;
    background-color: #F4F1EA;
    font-size: 16px;
    font-family: Lato;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 3px;
    width: 100%;
}

.drop-down {
    border: 1px solid #cccbcb;
    box-shadow: 2px 2px 2px 1px #cccbcb ;
    background-color: #F4F1EA;
    width: 120px;
}
