.nav-container {
    background-color: #F4F1EA;
    position: fixed;
    top: 0;
    max-width: 1761px;
    width: 100%;
    height: 70px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    font-family: Lato;
    border-bottom: 1px solid #cccbcb;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    border: 1px solid green;
    width: 900px;
}

.my-decks-button {
    line-height: 50px;
    border: none;
    font-size: 16px;
    background-color: #F4F1EA;
    color: #382110;
    cursor: pointer;
}

.my-decks-button:hover {
    background-color: #382110;
    color: #F4F1EA;
}
