.login-form-container{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.login-form {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}
