.login-form-container{
    background: url(https://media.magic.wizards.com/images/featured/PW_ArlinnKord_preloader.jpg) no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    height: 900px;
    font-family: Lato;
}

.form-and-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 40px 50px 40px;
    background-color: rgb(244, 241, 234, .5);
    border-radius: 20px;
}

.login-label,
.login-button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
