.signup-form-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    align-items: center;
}

.signup-form {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}
