.outer-edit-comment {
    margin-top: 70px;
    font-family: Lato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-edit-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 241, 234, .6);
    margin-top: 150px;
    border-radius: 20px;
    padding: 50px 20px 50px 20px;
    font-family: Lato;

}

.comment-background {
    background: url(https://media.magic.wizards.com/images/featured/EN_Chandra_Header.jpg) no-repeat center center fixed;
    height: 900px;
}

.edit-buttons {
    margin-top: 10px;
}

.submit-edit-button,
.delete-comment-button {
    background-color: #1E1915;
    line-height: 20px;
    border-radius: 20px;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}

/* .submit-edit-button:hover,
.delete-comment-button:hover {
    background-color: #333333;
    color: white;
} */

.comment-box {
    resize: none;
    width: 350px;
    height: 170px;
    border-radius: 15px;
    padding: 5px 8px;
    margin-top: 5px;
}

.comment-box:focus {
    outline: none;
}
