body {
    background-color: #F4F1EA;
}

.detail-container {
    /* border: 1px solid red; */
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.inner-detail {
    display: flex;
    /* border: 1px solid orange; */
    flex-direction: column;
    background-color: white;
    width: 70%;
    border-radius: 15px;
    padding-top: 10px;
}

.deck-name-container {
    /* border: 1px solid blue; */
    display: flex;
    font-family: Lato;
    align-items: center;
    justify-content: center;
}

.deck-name-input {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    cursor: default;
    font-size: 18px;
    line-height: 29px;
    width: fit-content;
    text-decoration: underline;
    text-align: center;
}

.outer-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 330px;
    padding: 10px 10px;
    margin-left: 10px;
    width: 600px;
}

.inner-desc {
    display: flex;
}

.deck-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Lato;
    text-decoration: underline;
}

.deck-description {
    /* border: 1px solid #cccbcb; */
    text-decoration: none;
    width: 400px;
    height: 90px;
    font-family: Lato;
    resize: none;
    border-bottom: 1px solid #cccbcb;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    text-decoration: none;
}

.deck-description:hover {
    cursor:default;
}

.deck-description:focus,
.deck-name-input:focus {
    outline: none;
}

.outer-image-n-description {
    /* border: 1px solid gray; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccbcb;
    margin-left: 5px;
    margin-right: 5px;
}

.img-n-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 369px;
}

.click-cover {
    font-family: Lato;
    font-size: 13px;
    font-style: italic;
}

.error-list {
    list-style: none;
    color: red;
    font-family: Lato;
    font-style: italic;
    font-size: 12px;
}

.edit-but {
    cursor: pointer;
    border: none;
    padding: 1px 1px;
    margin: 2px 2px;
    font-size: 16px;
    background-color: white;
    height: 20px;
}

.delete-but {
    border: none;
    font-size: 13px;
    background-color: white;
    color: rgb(201, 41, 41);
    padding: 0px;
    cursor: pointer;
}

.delete-but:hover {
    text-decoration: underline;
}

.edit-n-delete {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-around;
    /* padding: 2px 2px; */
    height: 102px;
    min-height: 102px;
    width: 202px;
    min-width: 202px;
}

.edit-n-delete * {
    padding-bottom: 5px;
}

.invisible-save {
    visibility: hidden;
}

.visible-save {
    color: #333333;
    border: 1px solid #D6D0C4;
    cursor: pointer;
    padding: 4px 12px;
    border-radius: 10px;
}

.visible-save:hover {
    background-color: #333333;
    color: white;
}

.url-input {
    width: 200px;
    border-radius: 3px;
    margin-top: 1px;
}

.url-input:focus {
    outline: none;
}
