body {
    background-color: #F4F1EA;
}

.detail-container {
    border: 1px solid red;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.deck-name-container {
    border: 1px solid blue;
    display: flex;
    font-family: Lato;
}

.deck-name-input {
    border: none;
    cursor: default;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #cccbcb;
}

.deck-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Lato;
}

.deck-description {
    border: 1px solid #cccbcb;
    text-decoration: none;
    width: 600px;
    font-family: Lato;
}

.deck-description:hover {
    cursor:default;
}

.deck-description:focus,
.deck-name-input:focus {
    outline: none;
}

.outer-image-n-description {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-n-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover-img {
    cursor: pointer;
}

.comment-container {
    border: 1px solid green;
    justify-content: center;
    align-self: center;
    margin-right: 50px;
}
